<div class="container">
  <div class="page-header">
    <% if current_user != nil %>
        <h5>
          Welcome back, <%= current_user.username%>
        </h5>
    <% end %>
    <h1>
        <a href="/photos/new" class="btn btn-default btn-block"><i class="fa fa-plus"></i></a>
    </h1>
  </div>
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8">


          <% @photos.each do |photo| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><a href="/users/<%=photo.user_id%>"><%=  User.find_by(:id => photo.user_id).username %></h3></a><small><%=time_ago_in_words(Time.now) %> ago</small>
            </div>
            <div class="panel-body">
              <img src="<%= photo.image %>" class="img-responsive" alt="Responsive image">
              <form action="/create_like" method="post">
                <button class="btn btn-link">
                  <i class="fa fa-heart-o"></i>
                </button>
              <small class="text-muted">be the first to like this</small>
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                <input type="hidden" name="user_id" value="<%=current_user%>">
                <input type="hidden" name="photo_id" value="<%=photo.id%>">
              </form>
              <form action="/create_comment" method="post">
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                <input type="hidden" name="photo_id" value="<%=photo.id%>">
                <input type="text" name="body" placeholder="Add a comment..."class="form-control" required>
                <input type="hidden" name="user_id" value="<%=photo.user_id%>">
              </form>
            </div>


          </div>
          <% end %>


        </div>
        <div class="col-sm-2"></div>
    </div>
</div>





<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Image</th>

        <th>Caption</th>

        <th>User</th>

        <th>Actions</th>
      </tr>

      <% @photos.each do |photo| %>
      <tr>

        <td>
          <img src="<%= photo.image %>" height="150px"/>
        </td>

        <td><%= photo.caption %></td>

        <td>
          <%=  User.find_by(:id => photo.user_id).username %>
        </td>

        <td>

          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>

          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>


        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
